<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/tmason17/">CLT Web</a> |
        <a href="https://tmason17.github.io/">GitHub.io</a> |
        <a href="https://github.com/tmason17">GitHub</a> |
        <a href="https://www.freecodecamp.org/tmason17">freeCodeCamp</a> |
        <a href="https://www.codecademy.com/profiles/tmason17">Codecademy</a> |
        <a href="https://www.linkedin.com/in/tonymasonjr/">LinkedIn</a>
    </nav>

    <p>
        Page designed by
        <a href="tonymasondesigns.com/">Tony Mason Designs</a>
    </p>

    <p>Certified in <strong>Responsive Web Design</strong></p>
</footer>