<header>
    <h1>Tony Mason's Timeless Monkey | ITIS3135</h1>

    <p><em>No clock. No limits. Just progress.</em></p>

    <nav>
        <a href="index.html">Home</a> |
        <a href="introduction.html">Introduction</a> |
        <a href="contract.html">Contract</a> |
        <a href="about.html">About</a> |
        <a href="survey.html">Survey</a> |
        <a href="cards.html">Cards</a> |
        <a href="inventory.html">Inventory</a> |
        <a href="documentation.html">Documentation</a> |
        <a href="product.html">Product</a> |
        <a href="website_evaluations.html">CRAP Evaluations</a> |
        <a href="images.html">Pictures</a> |
        <a href="introduction_form.html">Introduction Form</a>
    </nav>
</header>